@import "styles/style";

.button {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 32px;
    gap: 10px;

    border: 0;
    border-radius: 7px;

    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &_dark {
        color: $white;
        background-color: $blue;

        &:hover {
            background-color: $gray-300;
        }
    }

    &_light {
        color: $black;
        background-color: $white;
        border: 1px solid $black;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }


    &:disabled {
        background-color: $gray-300;
        box-shadow: none;
        cursor: not-allowed;
    }

}