@import 'styles/style.scss';

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    box-shadow: $shadow;
    cursor: pointer;

    &_small {
        width: 250px;
        height: 320px;
    }

    &_large {
        width: 1050px;
        height: 320px;
    }
}

.img {
    width: 180px;
    height: 180px;
    border: 1px solid black;
}

.title {
    font-size: $font-size-medium;
    color: $gray-300;
    font-family: $mainFont;
}