@import 'styles/style.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 32px;
    width: 100%;
    max-width: 1416px;
}

.title {
    font-size: $font-size-medium;
    color: $gray-300;
    font-family: $mainFont;
}

.filters {
    display: flex;
    gap: 32px;
}