@import 'styles/style.scss';


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 24px;
    padding: 32px;
    color: $mainFont;
    line-height: 32px;

}