@import 'styles/style.scss';

.wrapper {
    max-width: 1416px;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}