@import 'styles/style.scss';

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;

    background-color: #00000030;
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper {
    padding: 32px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
}

.form {
    position: relative;
    padding: 48px 32px 48px 32px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    animation: ani 0.3s forwards;

    &__title {
        font-family: $secondFont;
        color: $gray-font;
        font-size: 18px;
        padding-bottom: 16px;
    }
}

.cross {
    position: absolute;
    top: 4px;
    right: 4px;
    color: $gray-270;
    cursor: pointer;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}