@import 'styles/style.scss';


.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 162px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: white;
    filter: contrast(5);
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 13px;
    left: 3px;
    filter: blur(2px);
    background: $gray-300;
    border-radius: 25px;
    transform: translateX(0);
    animation: dot 3.2s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 25px;
    animation: dots 3.2s infinite;

    span {
        display: block;
        float: left;
        width: 22px;
        height: 22px;
        margin-left: 5px;
        filter: blur(2px);
        background: $gray-300;
        border-radius: 25px;
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px)
    }
}

@keyframes dots {
    50% {
        transform: translateX(-11px)
    }
}