@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
//colors
$gray-100: #fcfcfc;
$gray-200: #e2e2e2;
$gray-250: #b1a9a9c5;
$gray-270: rgb(83 88 90 / 80%);
$gray-300: #2a2a2a;
$gray-400: #111111;

$gray-font: rgb(142 142 149);

$white: #ffffff;
$black: #000000;
$blue: #0497c3;

//breakpoint
$max-width:1200px;
$min-width:500px;
$medium-screen:800px;

// font
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Montserrat', sans-serif;

$font-weight-medium:400;
$font-weight-bold:600;

$font-size-base:16px;
$font-size-huge:64px;
$font-size-big:32px;
$font-size-medium:24px;
$font-size-small:14px;
$font-size-tiny:12px;

$shadow: 0 4px 16px 1px rgba(0, 26, 52, .16);

$animation: ani 1s forwards;

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}